@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', sans-serif;
}

.smoke-bg{
  background-image: url('images/smoke.jpg');
  background-size: cover;
}

.bg-pattern{
  width: 100%;
  height: 100%;
  /* background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 10%, transparent 10%),
                      radial-gradient(#444cf7 10%, transparent 10%);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px; */

  --s: 100px; /* control the size */
  --c1: #313131;
  --c2: #355c7d;

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}

.bg-blur{
  backdrop-filter: blur(8px);
}

.text-brand-violet{
  color: #7264ff;
}

.bg-brand-violet{
  background-color: #7264ff;
}

.text-brand-gray{
  color: #171a25;
}

.bg-brand-gray{
  background-color: #171a25;
}

.text-brand-light-gray{
  color: #9fa1a3;
}

.text-brand-white{
  color: #ffffff;
}